node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
TEST_PLAN.md

# backend
backend/.venv
backend/__pycache__
backend/app/__pycache__
backend/app/_secret.py
backend/.env
backend/.env.*
!backend/.env.example
